footer {
  background-color: #f2f2f2;
  color: #318798;
  display: flex;
  justify-content: center;
}

.btn-back {
  background-color: #e8e9ed;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: none;
}
