header {
  background: linear-gradient(135deg, #318798 0%, #215964 100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  /* border-radius: 0 0 15px 15px; */
}

header h1 {
  color: #ffffff;
}
