body {
  background-color: #e8e9ed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}
p {
  font-family: "Roboto", sans-serif;
}

a {
  color: #318798;
}

.card {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin: 15px 10px;
  padding: 5px 20px;
  display: flex;
  flex: wrap;
}
