@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  background-color: #e8e9ed;
  margin: 60px 0 90px 0;
  padding: 40px 20px 0 20px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #455054;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #455054;
}

a {
  color: #318798;
}

.card {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 15px 0;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.flexContainer {
  justify-content: center;
  align-items: center;
}

.noLogsMessage {
  margin: 20px 0;
}
