.primaryButton {
  color: #e8e9ed;
  background-color: #318798;
  border-style: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
}

.primaryButton:hover {
  background: linear-gradient(135deg, #318798 0%, #215964 100%);
  box-shadow: 15px 13px 12px rgba(0, 0, 0, 0.02),
    7px 6px 9px rgba(0, 0, 0, 0.03), 2px 1px 5px rgba(0, 0, 0, 0.03);
}

.secondaryButton {
  color: #455054;
  background-color: #e8e9ed;
  border-style: none;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  border-radius: 10px;
}

.secondaryButton:hover {
  color: #455054;
  background-color: #e8e9ed;
  box-shadow: inset 6px 8px 4px rgba(0, 0, 0, 0.01),
    inset 3px 4px 3px rgba(0, 0, 0, 0.02), inset 1px 2px 2px rgba(0, 0, 0, 0.03),
    inset 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.smallButton {
  color: #7c8486;
  font-size: 14px;
  background-color: #e8e9ed;
  font-weight: 500;
  border-style: none;
  padding: 10px 15px;
  width: 100%;
  margin: 20px 0 0 0;
  border-radius: 8px;
}

.smallButton:hover {
  color: #455054;
  background-color: #e8e9ed;
  box-shadow: inset 6px 8px 4px rgba(0, 0, 0, 0.01),
    inset 3px 4px 3px rgba(0, 0, 0, 0.02), inset 1px 2px 2px rgba(0, 0, 0, 0.03),
    inset 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.delLogButton {
  color: #455054;
  border-style: none;
  padding: 5px;
  position: relative;
  top: 5px;
  right: 5px;
}

.delLogButton:hover {
  color: #586062;
  background-color: #d2d9db;
  border-radius: 5px;
}

.delBadge {
  color: #98c3cc;
}

.delBadge:hover {
  color: #aedee8;
}
