.primaryButton {
  color: #98c3cc;
  background-color: #455054;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 20px;
}
/* 
.secondaryButton {
  color: #455054;
  background-color: #98c3cc;
  padding: 10px;
  margin: 10px;
} */
